body { font-size: 13pt }
h1 { text-align: center;
		font-family: "Times New Roman", Times, serif; 
		font-size: 40px;
		background-color: #00cccc }
h2 { text-align: center }
h3 { text-align: center }
h4 { text-align: center }
h5 { text-decoration: underline overline; 
     margin-top: 10%; }
h6 { text-align: right; 
     padding: 20px; }
nav { text-align: center }
nav a { 
    background-color: #0080ff;
		color: #ffffff; 
		display: inline-block;
		padding: 10px;
		margin: 1%; 
		text-decoration: underline; 
		border-radius: 10px }
button { color: #0080ff;
         border: 1px solid }
footer { text-align: right }
h2 {
  animation-duration: 1.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
h3 {
  animation-duration: 1.0s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
h4 {
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
nav {
  animation-duration: 0.75s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
:root {
    --primary-color: beige;    
}
[data-theme="dark"] {
    --primary-color: grey;    
}
body {
    background: var(--primary-color);
    transition: background 1s;
}